/* 
  1. Global Styles
  2. Header & Header Form Styles
  3. Table Styles
  4. Footer Styles

*/

/* 1. Global Styles */
:root{
  --primary-color: #85C5F0;
  --secondary-color: #B2DBF6;
  --accent-color: #99E428;
  --text-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 600px;
  background-color: var(--primary-color);
  margin: auto;
  text-align: center;
  border-radius: 20px;
}

h2 {
  padding: 2rem 0;
}

/* 2. Header & Header Form Styles */

.welcome-msg {
  color: #fff;
  padding-top: 2rem;
}

.form-padding {
  color: var(--text-white);
  padding: 2rem 1rem;
}

.form-padding h1 {
  margin-bottom: 2rem;
}

.Header form, .book-container form {
  margin-top: 1rem;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.4rem 0;
  border: none;
  border-radius: 20px;
}

input[type="submit"], select {
  padding: .75rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-color: var(--accent-color);
  transition: all ease-in-out 0.2s;
  margin-top: 2rem;
}

input[type="submit"]:hover {
  background-color: #DBF6B2;
  cursor: pointer;
 }

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.message.success {
  color: green;
}

.message.error {
  color: #ff0000;
}

/* 3. Table Styles */

.Read-Books, .To-Read-Books {
  border-top: 2px solid #f8f8f8;
}

table {
  width: 100%;
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

th, td {
  padding: 0.4rem 0.7rem;
}

td {
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}
tbody tr:nth-child(even) {
 background-color: var(--secondary-color);
}

.table-icon {
  width: 46px;
}

.trash-can {
  width: 24px;
  cursor: pointer;
}

/* 4. Footer Styles */
footer {
  color: #fff;
  padding: 1rem 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: black;
}
